@import url(../../css/variables.css);

*{
    box-sizing: border-box;
    font-family: var(--main-font);
}
body{
    margin: 0;
    background-color: var(--background);
    margin: auto;
    max-width: 50%;
}
h1{
    background-color: var(--blue);
    padding: 50px 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 300%;
}
table, thead, tbody, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
#container, #blog-form, #update-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--extra-font);
}
#blog-table{
    background-color: var(--white);
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
}
#blog-form, #update-form{
    background-color: var(--white);
    border-radius: 15px;
    margin: 15%;
    padding: 1%;
    align-items: center;
}
.input, textarea{
    margin: 1%;
    border-radius: 5px;
    min-width: 100%;
}
#main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
}
td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buttons {
    text-align: center;
    min-width: 15%;
}
#admin-link{
    font-size: 20px;
}
#main-content{
    margin: 30px 0;
}
#main-ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
button, #submit-btn{
    background-color: var(--blue);
    border-radius: 7px;
    border: none;
}
#blog-button, #submit-btn {
    min-width: 20%;
    align-self: center;
    margin: 2%;
}
button:hover, #submit-btn:hover{
    transition: .3s ease;
    box-shadow: 2px 2px 2px var(--accent-shade);
}

/* Update page css */

#title, #author, #date, #tags{
    width: 100%;
}
#submit-btn{
    width: 20%;
}
#update-form a{
    color: var(--blue);
    text-decoration: none;
}
#update-form a:hover{
    color: var(--blue);
    text-decoration: underline;
}